// BACKGROUND
$background: #f2f2f2;

// FONT
$font-color: #000000;
$font-family: 'Nunito', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 16px;

// COLORS
$red: #DB574B;
$green: #059F8E;
$blue: #0B2F9D;
$yellow: #FCCB00;
$black: #000;
$white: #FFF;