.wrapper { 
    margin: 0 auto;
    min-width: 320px; 
    width: 100%; 
    padding: 0 50px;
    max-width: 1000px;
    &-half {
      max-width: 500px;
      min-width: 1px;
    }
    @media screen and (max-width: $media-md) {  
      padding: 0 30px;
    }
    @media screen and (max-width: $media-sm) {  
      padding: 0 20px;
    }
  }