//*:not(.bxslider) {
//	transition: width 0.3s ease-in-out;
//	transition: font-size 0.3s ease-in-out;
//	transition: margin 0.3s ease-in-out;
//	transition: padding 0.3s ease-in-out;
//	box-sizing: border-box;
//	padding: 0;
//	margin: 0;
//}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: width 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

*:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.none {
  display: none;
}

.deskop-hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

@import './variables';
@import './mixin';
@import './flex';
@import './grid';
@import './table';
@import './flex-box-grid';