#form-podsumowanie-badania {
    label {
        display: block; padding-bottom: 15px;
        font-weight: 700;
    }
    .email-add-info {
        padding-top: 15px;
    }
    .answers {
        label {
            font-weight: 400;
            padding-bottom: 0;
        }
    }
    & + .thankyou {
        margin: 1rem 0;
        padding: 20px !important;
        text-align: center;
        border-radius: 6px;
        background: $green;
        color: #fff;
    }
}